USE [EasyLearning]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AddOns]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddOns](
	[Id] [nvarchar](450) NOT NULL,
	[Add_On_Name] [nvarchar](max) NULL,
	[link_download] [nvarchar](max) NULL,
	[price] [decimal](18, 2) NULL,
	[CoursesId] [nvarchar](max) NULL,
	[CoureseId] [nvarchar](450) NULL,
	[DateCreate] [datetime2](7) NULL,
	[DateChange] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_AddOns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[Id] [nvarchar](450) NOT NULL,
	[Answer_Text] [nvarchar](max) NULL,
	[Answer_QuestionId] [nvarchar](450) NULL,
	[DateCreate] [datetime2](7) NULL,
	[DateChange] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Answer_IsCorrect] [bit] NULL,
 CONSTRAINT [PK_Answers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [nvarchar](450) NOT NULL,
	[Category_Name] [nvarchar](50) NULL,
	[Category_Sort_Order] [int] NULL,
	[DateCreate] [datetime2](7) NULL,
	[DateChange] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Img_link] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [nvarchar](450) NOT NULL,
	[Comment_Content] [nvarchar](max) NULL,
	[Comment_UserId] [nvarchar](max) NULL,
	[TrainingPartId] [nvarchar](450) NULL,
	[DateCreate] [datetime2](7) NULL,
	[DateChange] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseDetails]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseDetails](
	[Id] [nvarchar](450) NOT NULL,
	[Courses_Id] [nvarchar](450) NULL,
	[Category_Id] [nvarchar](450) NULL,
	[DateCreate] [datetime2](7) NULL,
	[DateChange] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_CourseDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseDiscounts]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseDiscounts](
	[Id] [nvarchar](450) NOT NULL,
	[CourseDiscount_CourseId] [nvarchar](450) NULL,
	[CourseDiscount_DiscountId] [nvarchar](450) NULL,
	[DateCreate] [datetime2](7) NULL,
	[DateChange] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_CourseDiscounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseEvents]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseEvents](
	[Id] [nvarchar](450) NOT NULL,
	[Course_Event_Name] [nvarchar](max) NULL,
	[Course_Event_Type] [int] NOT NULL,
	[Course_Event_Location] [nvarchar](max) NULL,
	[Course_Event_Date_Start] [datetime2](7) NOT NULL,
	[Course_Event_Date_End] [datetime2](7) NOT NULL,
	[DateCreate] [datetime2](7) NULL,
	[DateChange] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_CourseEvents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [nvarchar](450) NOT NULL,
	[Courses_Name] [nvarchar](max) NULL,
	[Courses_Description] [nvarchar](max) NULL,
	[Courses_Price] [decimal](10, 3) NOT NULL,
	[Courses_Requirements] [nvarchar](max) NULL,
	[Courses_Content] [nvarchar](max) NULL,
	[Courses_ImageUrl] [nvarchar](max) NULL,
	[Courses_StartDate] [datetime2](7) NOT NULL,
	[Courses_EndDate] [datetime2](7) NOT NULL,
	[Courses_RegistrationDeadline] [datetime2](7) NOT NULL,
	[Courses_MaxAttendees] [int] NOT NULL,
	[DateCreate] [datetime2](7) NULL,
	[DateChange] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Courses_Instructor] [nvarchar](max) NULL,
	[Course_Type] [int] NOT NULL,
	[Courses_RegisteredUsers] [int] NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[Id] [nvarchar](450) NOT NULL,
	[Discount_Code] [nvarchar](max) NULL,
	[Discount_Description] [nvarchar](max) NULL,
	[Discount_Percentage] [decimal](18, 2) NOT NULL,
	[DateCreate] [datetime2](7) NULL,
	[DateChange] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Discounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExerciseQuestions]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExerciseQuestions](
	[Id] [nvarchar](450) NOT NULL,
	[ExerciseQuestion_Question] [nvarchar](max) NULL,
	[ExerciseQuestion_TrainingPartId] [nvarchar](450) NULL,
	[DateCreate] [datetime2](7) NULL,
	[DateChange] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_ExerciseQuestions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[Id] [nvarchar](450) NOT NULL,
	[Feedback_User_Id] [nvarchar](max) NULL,
	[Feeback_Content] [nvarchar](max) NULL,
	[Feeback_Rating] [int] NOT NULL,
	[Feedback_Courese_Id] [nvarchar](450) NULL,
	[DateCreate] [datetime2](7) NULL,
	[DateChange] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [nvarchar](450) NOT NULL,
	[Order_Id] [nvarchar](450) NULL,
	[Courses_Id] [nvarchar](450) NULL,
	[DateCreate] [datetime2](7) NULL,
	[DateChange] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDiscounts]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDiscounts](
	[Id] [nvarchar](450) NOT NULL,
	[CourseDiscount_OrderId] [nvarchar](450) NULL,
	[CourseDiscount_DiscountId] [nvarchar](450) NULL,
	[DateCreate] [datetime2](7) NULL,
	[DateChange] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_OrderDiscounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [nvarchar](450) NOT NULL,
	[Order_TotalPrice] [decimal](10, 3) NOT NULL,
	[Order_PaymentMethod] [nvarchar](max) NULL,
	[Order_Notes] [nvarchar](max) NULL,
	[Order_User] [nvarchar](450) NULL,
	[DateCreate] [datetime2](7) NULL,
	[DateChange] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Order_Quantity] [nvarchar](max) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Replies]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Replies](
	[Id] [nvarchar](450) NOT NULL,
	[Reply_Content] [nvarchar](max) NULL,
	[Reply_UserId] [nvarchar](max) NULL,
	[Reply_CommentId] [nvarchar](450) NULL,
	[DateCreate] [datetime2](7) NULL,
	[DateChange] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Replies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleClaims]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_RoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCartItems]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCartItems](
	[Id] [nvarchar](450) NOT NULL,
	[Shopping_Cart_Item_Quantity] [int] NULL,
	[Shopping_Cart_Id] [nvarchar](450) NULL,
	[Courese_Id] [nvarchar](450) NULL,
	[DateCreate] [datetime2](7) NULL,
	[DateChange] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Shopping_Cart_Item_ImageUrl] [nvarchar](max) NULL,
	[Shopping_Cart_Item_Name] [nvarchar](max) NULL,
	[Shopping_Cart_Item_Price] [decimal](10, 3) NULL,
 CONSTRAINT [PK_ShoppingCartItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCarts]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCarts](
	[Id] [nvarchar](450) NOT NULL,
	[Shopping_Cart_TotalPrice] [decimal](10, 3) NULL,
	[Shopping_Cart_PaymentMethod] [nvarchar](max) NULL,
	[Shopping_Cart_User_Id] [nvarchar](450) NULL,
	[DateCreate] [datetime2](7) NULL,
	[DateChange] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_ShoppingCarts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainerDetails]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainerDetails](
	[Id] [nvarchar](450) NOT NULL,
	[Courses_Id] [nvarchar](450) NULL,
	[User_Id] [nvarchar](450) NULL,
	[DateCreate] [datetime2](7) NULL,
	[DateChange] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_TrannerDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingParts]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingParts](
	[Id] [nvarchar](450) NOT NULL,
	[Training_Part_Name] [nvarchar](max) NULL,
	[Training_Part_StartTime] [datetime2](7) NOT NULL,
	[Training_Part_EndTime] [datetime2](7) NOT NULL,
	[Training_Part_Description] [nvarchar](max) NULL,
	[Training_Part_Event_Id] [nvarchar](450) NULL,
	[Training_Part_Courese_Id] [nvarchar](450) NULL,
	[DateCreate] [datetime2](7) NULL,
	[DateChange] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Training_Part_ImageUrl] [nvarchar](max) NULL,
	[Training_Part_VideoUrl] [nvarchar](max) NULL,
	[Training_Part_Type] [int] NOT NULL,
	[Training_Part_IsFree] [bit] NOT NULL,
 CONSTRAINT [PK_TrainingParts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserClaims]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogins]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserNotes]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNotes](
	[Id] [nvarchar](450) NOT NULL,
	[NoteContent ] [nvarchar](max) NULL,
	[Time] [nvarchar](max) NULL,
	[TrainingPartId] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NULL,
	[CoursesId] [nvarchar](450) NULL,
	[DateCreate] [datetime2](7) NULL,
	[DateChange] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_UserNotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserImageUrl] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[BirthDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTrainingProgresss]    Script Date: 07/07/2024 4:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTrainingProgresss](
	[Id] [nvarchar](450) NOT NULL,
	[User_Id] [nvarchar](450) NULL,
	[Training_Part_Id] [nvarchar](450) NULL,
	[Percentage_Watched] [float] NULL,
	[IsCompleted] [bit] NOT NULL,
	[DateCreate] [datetime2](7) NULL,
	[DateChange] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Correct_Answers] [int] NULL,
 CONSTRAINT [PK_UserTrainingProgresss] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240414033514_initial', N'6.0.29')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240414034049_initial-v2', N'6.0.29')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240414083057_updatetablecartitem', N'6.0.29')
GO
INSERT [dbo].[Answers] ([Id], [Answer_Text], [Answer_QuestionId], [DateCreate], [DateChange], [ChangedBy], [IsDeleted], [Answer_IsCorrect]) VALUES (N'04d88a80-1e59-41f6-9d26-fbf37c54fd0a', N'Microsoft Visual C#', N'a96d7ecb-89e8-4374-95c3-14a01ff1663e', CAST(N'2024-05-15T00:00:00.0000000' AS DateTime2), CAST(N'2024-05-15T00:00:00.0000000' AS DateTime2), N'Admin', 0, 0)
INSERT [dbo].[Answers] ([Id], [Answer_Text], [Answer_QuestionId], [DateCreate], [DateChange], [ChangedBy], [IsDeleted], [Answer_IsCorrect]) VALUES (N'07ec4f28-4bfc-4b80-af8e-9e1077f3f6e5', N'Một framework ánh xạ đối tượng-quan hệ (ORM)', N'ce65fd40-2019-489d-aa7f-25bc89537e2b', CAST(N'2024-05-15T00:00:00.0000000' AS DateTime2), CAST(N'2024-05-15T00:00:00.0000000' AS DateTime2), N'Admin', 0, 1)
INSERT [dbo].[Answers] ([Id], [Answer_Text], [Answer_QuestionId], [DateCreate], [DateChange], [ChangedBy], [IsDeleted], [Answer_IsCorrect]) VALUES (N'0cb82bf9-a563-4b73-89e2-1f6467a9711e', N'bool', N'7a9c5f24-5bb0-4d51-88f6-1d69c563a51c', CAST(N'2024-06-12T14:30:00.0000000' AS DateTime2), CAST(N'2024-06-12T14:30:00.0000000' AS DateTime2), N'Admin', 0, 0)
GO
INSERT [dbo].[Categories] ([Id], [Category_Name], [Category_Sort_Order], [DateCreate], [DateChange], [ChangedBy], [IsDeleted], [Img_link]) VALUES (N'183961bd-c1f0-4d10-8743-0bd5bd933ee4', N'Ngôn ngữ', 4, CAST(N'2024-04-15T00:00:00.0000000' AS DateTime2), CAST(N'2024-04-15T00:00:00.0000000' AS DateTime2), N'Admin', 0, N'https://blogcdn.muaban.net/wp-content/uploads/2022/06/21170928/nganh-ngon-ngu-hoc-1.jpg')
INSERT [dbo].[Categories] ([Id], [Category_Name], [Category_Sort_Order], [DateCreate], [DateChange], [ChangedBy], [IsDeleted], [Img_link]) VALUES (N'823adbbe-37cd-499c-a50c-699ab5893333', N'Thiết kế đồ họa', 3, CAST(N'2024-04-16T00:00:00.0000000' AS DateTime2), CAST(N'2024-04-16T00:00:00.0000000' AS DateTime2), N'Admin', 0, N'https://cdn.tgdd.vn/2020/12/campaign/banner-640x360-3.jpg')
INSERT [dbo].[Categories] ([Id], [Category_Name], [Category_Sort_Order], [DateCreate], [DateChange], [ChangedBy], [IsDeleted], [Img_link]) VALUES (N'af2cc97c-20c5-47ad-9d8f-99408ad07154', N'Công nghệ thông tin', 1, CAST(N'2024-04-14T00:00:00.0000000' AS DateTime2), CAST(N'2024-04-14T00:00:00.0000000' AS DateTime2), N'Admin', 0, N'https://iigacademy.edu.vn/wp-content/uploads/2021/09/57.png')
GO
INSERT [dbo].[Comments] ([Id], [Comment_Content], [Comment_UserId], [TrainingPartId], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'5f84b0e8-6edd-4bf7-8735-d8e815ed38da', N'mọi người cho em hỏi phút thứ 2 em cài đặt theo như video nhưng mã vẫn bị lỗi không tìm thấy thư viện', N'dd0989f3-37dc-4abd-83be-861c489c02f8', N'173ab6b1-05f2-48b3-8e8f-ec3d23ff961f', CAST(N'2024-06-14T11:08:58.6879368' AS DateTime2), CAST(N'2024-06-14T11:08:58.6875323' AS DateTime2), N'dd0989f3-37dc-4abd-83be-861c489c02f8', 0)
GO
INSERT [dbo].[CourseDetails] ([Id], [Courses_Id], [Category_Id], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'14d476c9-de31-4f71-a3dd-3dc1c6dd4b45', N'18f5ca3a-cf97-4ad0-a7b7-440c1c7228ec', N'af2cc97c-20c5-47ad-9d8f-99408ad07154', CAST(N'2024-06-05T00:00:00.0000000' AS DateTime2), CAST(N'2024-12-28T00:00:00.0000000' AS DateTime2), N'Admin', 0)
INSERT [dbo].[CourseDetails] ([Id], [Courses_Id], [Category_Id], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'3bbcadaf-8858-4811-8da2-082f3e8a0913', N'20e1d085-2b7e-4bc0-aaad-651949bd99a2', N'f352851e-749d-4443-87a4-57bc5b7938c7', CAST(N'2024-05-01T00:00:00.0000000' AS DateTime2), CAST(N'2024-05-01T00:00:00.0000000' AS DateTime2), N'Admin', 0)
INSERT [dbo].[CourseDetails] ([Id], [Courses_Id], [Category_Id], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'4f209d16-047c-4a82-a00b-fa2fe65efb97', N'20e40ec8-6cb6-446b-901b-c09def412ce6', N'183961bd-c1f0-4d10-8743-0bd5bd933ee4', CAST(N'2024-02-15T00:00:00.0000000' AS DateTime2), CAST(N'2024-02-15T00:00:00.0000000' AS DateTime2), N'Admin', 0)
GO
INSERT [dbo].[CourseEvents] ([Id], [Course_Event_Name], [Course_Event_Type], [Course_Event_Location], [Course_Event_Date_Start], [Course_Event_Date_End], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'08571cea-a1ff-4730-aca2-3d19c9876d66', N'Quản lý người dùng ', 5, NULL, CAST(N'2024-06-13T22:58:00.0000000' AS DateTime2), CAST(N'2024-06-13T13:58:00.0000000' AS DateTime2), CAST(N'2024-06-13T22:58:58.0668870' AS DateTime2), CAST(N'2024-06-13T22:58:58.0668830' AS DateTime2), N'085cf97e-c337-41ae-afdc-7a2dfe7f9322', 0)
INSERT [dbo].[CourseEvents] ([Id], [Course_Event_Name], [Course_Event_Type], [Course_Event_Location], [Course_Event_Date_Start], [Course_Event_Date_End], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'1d9d5ce7-b2b9-4e7a-bb1a-6bcd101a26ba', N'Toán tử, kiểu dữ liệu', 5, N'E3-08-10', CAST(N'2024-06-16T20:00:00.0000000' AS DateTime2), CAST(N'2024-06-16T22:00:00.0000000' AS DateTime2), CAST(N'2024-06-13T20:13:49.6452465' AS DateTime2), CAST(N'2024-06-13T20:13:49.6452398' AS DateTime2), N'085cf97e-c337-41ae-afdc-7a2dfe7f9322', 0)
INSERT [dbo].[CourseEvents] ([Id], [Course_Event_Name], [Course_Event_Type], [Course_Event_Location], [Course_Event_Date_Start], [Course_Event_Date_End], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'22105376-85c4-4599-991e-5aeedb65c84d', N'Học tiếng Pháp với âm nhạc ', 5, NULL, CAST(N'2024-06-20T22:38:00.0000000' AS DateTime2), CAST(N'2024-06-20T14:38:00.0000000' AS DateTime2), CAST(N'2024-06-13T22:39:21.3433310' AS DateTime2), CAST(N'2024-06-13T22:39:21.3433267' AS DateTime2), N'085cf97e-c337-41ae-afdc-7a2dfe7f9322', 0)
GO
INSERT [dbo].[ExerciseQuestions] ([Id], [ExerciseQuestion_Question], [ExerciseQuestion_TrainingPartId], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'1ef36984-e4c6-451a-8742-d6242ddea346', N'Cách nào sau đây là cách cấu hình một ứng dụng ASP.NET Core?', N'7ede772e-c2fc-4b4e-810b-6fb6ba0b0570', CAST(N'2024-05-15T11:18:24.8733333' AS DateTime2), CAST(N'2024-05-15T11:18:24.8733333' AS DateTime2), N'Admin', 0)
INSERT [dbo].[ExerciseQuestions] ([Id], [ExerciseQuestion_Question], [ExerciseQuestion_TrainingPartId], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'2d257565-39ae-4a2d-b0b0-bdfb1bcedc21', N'Cài đặt ASP.NET Core thường được thực hiện thông qua công cụ nào?', N'7ede772e-c2fc-4b4e-810b-6fb6ba0b0570', CAST(N'2024-05-15T11:06:39.9033333' AS DateTime2), CAST(N'2024-05-15T11:06:39.9033333' AS DateTime2), N'Admin', 0)
INSERT [dbo].[ExerciseQuestions] ([Id], [ExerciseQuestion_Question], [ExerciseQuestion_TrainingPartId], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'3481496c-82ff-4dea-af8f-66fd427b7e4d', N'File _ViewStart.cshtml trong thư mục "Views" được sử dụng để làm gì?', N'17d085f0-a22a-4afe-a538-d2d38dbb1b3c', CAST(N'2024-06-12T12:00:00.0000000' AS DateTime2), CAST(N'2024-06-12T12:00:00.0000000' AS DateTime2), N'Admin', 0)
GO
INSERT [dbo].[Feedbacks] ([Id], [Feedback_User_Id], [Feeback_Content], [Feeback_Rating], [Feedback_Courese_Id], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'1dd25ca3-0f79-4828-8f69-78b0c2fe5701', N'f41edc27-6868-411b-b913-ba0826407e80', N'Tôi đã tìm kiếm một khóa học về ASP.NET CoreMVC lâu nay và cuối cùng tôi đã tìm thấy nó ở đây!', 5, N'18f5ca3a-cf97-4ad0-a7b7-440c1c7228ec', CAST(N'2024-06-14T10:46:06.9524051' AS DateTime2), CAST(N'2024-06-14T10:46:06.9502679' AS DateTime2), N'f41edc27-6868-411b-b913-ba0826407e80', 0)
INSERT [dbo].[Feedbacks] ([Id], [Feedback_User_Id], [Feeback_Content], [Feeback_Rating], [Feedback_Courese_Id], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'3517f9b7-1e4c-4041-8bb1-e2c2bb0cd13a', N'bef54f0e-9d29-4c7b-8ecd-49fce8499710', N'Tôi rất ngưỡng mộ thầy hướng vẫn về khóa học này! tuyệt vời. Tôi sẽ cho 5 sao và 1 respect!', 5, N'18f5ca3a-cf97-4ad0-a7b7-440c1c7228ec', CAST(N'2024-06-14T11:00:39.9605974' AS DateTime2), CAST(N'2024-06-14T11:00:39.9599842' AS DateTime2), N'bef54f0e-9d29-4c7b-8ecd-49fce8499710', 0)
INSERT [dbo].[Feedbacks] ([Id], [Feedback_User_Id], [Feeback_Content], [Feeback_Rating], [Feedback_Courese_Id], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'7b85aa9e-68b5-45b0-9e9b-8650b2d09420', N'bef54f0e-9d29-4c7b-8ecd-49fce8499710', N'123232', 0, N'20e40ec8-6cb6-446b-901b-c09def412ce6', CAST(N'2024-07-05T17:22:35.9377404' AS DateTime2), CAST(N'2024-07-05T17:22:35.9355186' AS DateTime2), N'bef54f0e-9d29-4c7b-8ecd-49fce8499710', 0)
GO
INSERT [dbo].[OrderDetails] ([Id], [Order_Id], [Courses_Id], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'05c99e8f-9e49-497d-a376-2cf65c641bba', N'bded0d98-ea0f-43d6-ba72-80e9a7e38784', N'20e1d085-2b7e-4bc0-aaad-651949bd99a2', CAST(N'2024-06-14T10:32:49.6333413' AS DateTime2), NULL, N'dd0989f3-37dc-4abd-83be-861c489c02f8', 0)
INSERT [dbo].[OrderDetails] ([Id], [Order_Id], [Courses_Id], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'29b70f2f-e79c-4cc0-816b-9fc7665526fc', N'de1956a2-28cc-420c-883c-fc448bac9297', N'361ef5c5-26dd-4a6f-aa18-d21a49fd217f', CAST(N'2024-06-14T13:01:03.1450666' AS DateTime2), NULL, N'dd0989f3-37dc-4abd-83be-861c489c02f8', 0)
INSERT [dbo].[OrderDetails] ([Id], [Order_Id], [Courses_Id], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'525ca075-77a5-4f14-b0ad-1f8526c23bb7', N'35c07bc6-e782-4212-8c50-48bc48739e4d', N'aabaa948-cec0-4ca6-a962-704f7ab687e4', CAST(N'2024-06-14T12:58:22.3723282' AS DateTime2), NULL, N'dd0989f3-37dc-4abd-83be-861c489c02f8', 0)
GO
INSERT [dbo].[Orders] ([Id], [Order_TotalPrice], [Order_PaymentMethod], [Order_Notes], [Order_User], [DateCreate], [DateChange], [ChangedBy], [IsDeleted], [Order_Quantity]) VALUES (N'053fd022-c4c7-4df7-8c60-2215f695e74c', CAST(499.000 AS Decimal(10, 3)), NULL, NULL, N'bef54f0e-9d29-4c7b-8ecd-49fce8499710', CAST(N'2024-06-14T12:56:35.6610559' AS DateTime2), NULL, N'bef54f0e-9d29-4c7b-8ecd-49fce8499710', 0, NULL)
INSERT [dbo].[Orders] ([Id], [Order_TotalPrice], [Order_PaymentMethod], [Order_Notes], [Order_User], [DateCreate], [DateChange], [ChangedBy], [IsDeleted], [Order_Quantity]) VALUES (N'2ac71e06-a0a5-4fb8-8bf3-c2a4e2ddbfed', CAST(299.000 AS Decimal(10, 3)), NULL, N'tôi thích học IT', N'f41edc27-6868-411b-b913-ba0826407e80', CAST(N'2024-06-14T10:43:16.5605607' AS DateTime2), NULL, N'f41edc27-6868-411b-b913-ba0826407e80', 0, NULL)
INSERT [dbo].[Orders] ([Id], [Order_TotalPrice], [Order_PaymentMethod], [Order_Notes], [Order_User], [DateCreate], [DateChange], [ChangedBy], [IsDeleted], [Order_Quantity]) VALUES (N'35c07bc6-e782-4212-8c50-48bc48739e4d', CAST(299.000 AS Decimal(10, 3)), NULL, NULL, N'dd0989f3-37dc-4abd-83be-861c489c02f8', CAST(N'2024-06-14T12:58:22.3216818' AS DateTime2), NULL, N'dd0989f3-37dc-4abd-83be-861c489c02f8', 0, NULL)
GO
INSERT [dbo].[Replies] ([Id], [Reply_Content], [Reply_UserId], [Reply_CommentId], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'3e9517a9-53e0-46ab-96b7-73c48767224c', N'@Nguyễn Hưng Phát bạn nền restart lại máy để máy nó nhận được thư viện ', N'bef54f0e-9d29-4c7b-8ecd-49fce8499710', N'5f84b0e8-6edd-4bf7-8735-d8e815ed38da', CAST(N'2024-06-14T11:10:09.0646857' AS DateTime2), CAST(N'2024-06-14T11:10:09.0642379' AS DateTime2), N'bef54f0e-9d29-4c7b-8ecd-49fce8499710', 0)
INSERT [dbo].[Replies] ([Id], [Reply_Content], [Reply_UserId], [Reply_CommentId], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'79278301-5b26-470f-82c5-63df90340f29', N'@Lê khánh Huyyyyy cảm ơn bạn tôi làm được rồi!', N'dd0989f3-37dc-4abd-83be-861c489c02f8', N'5f84b0e8-6edd-4bf7-8735-d8e815ed38da', CAST(N'2024-06-14T11:12:55.1357535' AS DateTime2), CAST(N'2024-06-14T11:12:55.1357056' AS DateTime2), N'dd0989f3-37dc-4abd-83be-861c489c02f8', 0)
GO
INSERT [dbo].[Roles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'1b5656ee-8716-4694-b81c-7b84a03802de', N'Admin', N'ADMIN', N'1c77dbfa-21c9-4a4a-9c81-76f83e83b9b2')
INSERT [dbo].[Roles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'd699bd5d-5be0-41fa-85c0-fc853065deda', N'Trainer', N'TRAINER', N'726edcdb-b766-4080-b179-e33562147977')
INSERT [dbo].[Roles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'd8219626-31ac-4849-a384-8aa84322f86d', N'User', N'USER', N'c302c6c6-a454-485e-81b4-5da0a31cc01d')
GO
INSERT [dbo].[ShoppingCarts] ([Id], [Shopping_Cart_TotalPrice], [Shopping_Cart_PaymentMethod], [Shopping_Cart_User_Id], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'181c6520-9c74-4d43-9285-3c5859eeffeb', NULL, NULL, N'f97c8178-784f-412a-a5d3-844fe78cff4c', CAST(N'2024-04-18T02:08:16.7063201' AS DateTime2), CAST(N'2024-04-18T02:08:16.7062639' AS DateTime2), N'', 0)
INSERT [dbo].[ShoppingCarts] ([Id], [Shopping_Cart_TotalPrice], [Shopping_Cart_PaymentMethod], [Shopping_Cart_User_Id], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'43eaa002-cb87-4629-8ec3-cbb00eaca9a3', NULL, NULL, N'27fd103a-45a3-43ae-af96-ac0bdfd54eb4', CAST(N'2024-04-18T02:08:16.7063201' AS DateTime2), CAST(N'2024-04-18T02:08:16.7062639' AS DateTime2), NULL, 1)
INSERT [dbo].[ShoppingCarts] ([Id], [Shopping_Cart_TotalPrice], [Shopping_Cart_PaymentMethod], [Shopping_Cart_User_Id], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'684d455d-d214-4dbe-bee3-98e148caf7fd', NULL, NULL, N'f41edc27-6868-411b-b913-ba0826407e80', CAST(N'2024-06-14T10:42:33.9426547' AS DateTime2), CAST(N'2024-06-14T10:42:33.9413296' AS DateTime2), N'bef54f0e-9d29-4c7b-8ecd-49fce8499710', 0)
GO
INSERT [dbo].[UserLogins] ([LoginProvider], [ProviderKey], [ProviderDisplayName], [UserId]) VALUES (N'Google', N'111516697373398126044', N'Google', N'cfdd7776-0056-4969-8df2-be7e74b94245')
GO
INSERT [dbo].[UserNotes] ([Id], [NoteContent ], [Time], [TrainingPartId], [UserId], [CoursesId], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'c101484d-7094-4a54-ba92-a3d36ce700eb', N'Làm bài tập cơ bản để làm quen nhớ coi lại!', N'88.047251', N'173ab6b1-05f2-48b3-8e8f-ec3d23ff961f', N'dd0989f3-37dc-4abd-83be-861c489c02f8', N'18f5ca3a-cf97-4ad0-a7b7-440c1c7228ec', CAST(N'2024-06-14T11:06:58.4150959' AS DateTime2), CAST(N'2024-06-14T11:06:58.3909672' AS DateTime2), N'dd0989f3-37dc-4abd-83be-861c489c02f8', 0)
INSERT [dbo].[UserNotes] ([Id], [NoteContent ], [Time], [TrainingPartId], [UserId], [CoursesId], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'e01db416-7d76-4ad0-b1c1-24accdfeda64', N'Bước cài đặt cấu hình nè!', N'12.392413', N'173ab6b1-05f2-48b3-8e8f-ec3d23ff961f', N'dd0989f3-37dc-4abd-83be-861c489c02f8', N'18f5ca3a-cf97-4ad0-a7b7-440c1c7228ec', CAST(N'2024-06-14T11:06:24.8522939' AS DateTime2), CAST(N'2024-06-14T11:06:24.7781193' AS DateTime2), N'dd0989f3-37dc-4abd-83be-861c489c02f8', 0)
INSERT [dbo].[UserNotes] ([Id], [NoteContent ], [Time], [TrainingPartId], [UserId], [CoursesId], [DateCreate], [DateChange], [ChangedBy], [IsDeleted]) VALUES (N'e20e701b-b6f1-4739-8198-b166e126a7ab', N'Bài tập về nhà ở đây nèe', N'124.915614', N'173ab6b1-05f2-48b3-8e8f-ec3d23ff961f', N'dd0989f3-37dc-4abd-83be-861c489c02f8', N'18f5ca3a-cf97-4ad0-a7b7-440c1c7228ec', CAST(N'2024-06-14T11:07:12.6512664' AS DateTime2), CAST(N'2024-06-14T11:07:12.6234623' AS DateTime2), N'dd0989f3-37dc-4abd-83be-861c489c02f8', 0)
GO
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'27fd103a-45a3-43ae-af96-ac0bdfd54eb4', N'1b5656ee-8716-4694-b81c-7b84a03802de')
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'f97c8178-784f-412a-a5d3-844fe78cff4c', N'1b5656ee-8716-4694-b81c-7b84a03802de')
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'bef54f0e-9d29-4c7b-8ecd-49fce8499710', N'd8219626-31ac-4849-a384-8aa84322f86d')
GO
INSERT [dbo].[UserTrainingProgresss] ([Id], [User_Id], [Training_Part_Id], [Percentage_Watched], [IsCompleted], [DateCreate], [DateChange], [ChangedBy], [IsDeleted], [Correct_Answers]) VALUES (N'0181be30-c811-417c-98ec-ba6e50f6729a', N'dd0989f3-37dc-4abd-83be-861c489c02f8', N'012788c9-1867-4046-84a7-459f92336c82', NULL, 0, CAST(N'2024-06-14T13:01:03.3914412' AS DateTime2), CAST(N'2024-06-14T13:01:03.3914376' AS DateTime2), N'dd0989f3-37dc-4abd-83be-861c489c02f8', 0, NULL)
INSERT [dbo].[UserTrainingProgresss] ([Id], [User_Id], [Training_Part_Id], [Percentage_Watched], [IsCompleted], [DateCreate], [DateChange], [ChangedBy], [IsDeleted], [Correct_Answers]) VALUES (N'02416e4f-7881-4147-b944-8bcf5b356a7e', N'f41edc27-6868-411b-b913-ba0826407e80', N'10df9fef-6cf8-4c07-bd3f-a3050f433b91', NULL, 0, CAST(N'2024-06-14T10:43:16.6948936' AS DateTime2), CAST(N'2024-06-14T10:43:16.6948817' AS DateTime2), N'f41edc27-6868-411b-b913-ba0826407e80', 0, NULL)
INSERT [dbo].[UserTrainingProgresss] ([Id], [User_Id], [Training_Part_Id], [Percentage_Watched], [IsCompleted], [DateCreate], [DateChange], [ChangedBy], [IsDeleted], [Correct_Answers]) VALUES (N'07148423-9671-4c51-88bb-a33053c2dc54', N'dd0989f3-37dc-4abd-83be-861c489c02f8', N'ac034df2-37a5-4364-99a1-27d284a26390', NULL, 0, CAST(N'2024-06-14T13:01:03.4419897' AS DateTime2), CAST(N'2024-06-14T13:01:03.4419870' AS DateTime2), N'dd0989f3-37dc-4abd-83be-861c489c02f8', 0, NULL)
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [Course_Type]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [Courses_RegisteredUsers]
GO
ALTER TABLE [dbo].[TrainingParts] ADD  DEFAULT ((0)) FOR [Training_Part_Type]
GO
ALTER TABLE [dbo].[TrainingParts] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Training_Part_IsFree]
GO
ALTER TABLE [dbo].[AddOns]  WITH CHECK ADD  CONSTRAINT [FK_AddOns_Courses_CoureseId] FOREIGN KEY([CoureseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[AddOns] CHECK CONSTRAINT [FK_AddOns_Courses_CoureseId]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [FK_Answers_ExerciseQuestions_Answer_QuestionId] FOREIGN KEY([Answer_QuestionId])
REFERENCES [dbo].[ExerciseQuestions] ([Id])
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [FK_Answers_ExerciseQuestions_Answer_QuestionId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_TrainingParts_TrainingPartId] FOREIGN KEY([TrainingPartId])
REFERENCES [dbo].[TrainingParts] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_TrainingParts_TrainingPartId]
GO
ALTER TABLE [dbo].[CourseDetails]  WITH CHECK ADD  CONSTRAINT [FK_CourseDetails_Categories_Category_Id] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[CourseDetails] CHECK CONSTRAINT [FK_CourseDetails_Categories_Category_Id]
GO
ALTER TABLE [dbo].[CourseDetails]  WITH CHECK ADD  CONSTRAINT [FK_CourseDetails_Courses_Courses_Id] FOREIGN KEY([Courses_Id])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[CourseDetails] CHECK CONSTRAINT [FK_CourseDetails_Courses_Courses_Id]
GO
ALTER TABLE [dbo].[CourseDiscounts]  WITH CHECK ADD  CONSTRAINT [FK_CourseDiscounts_Courses_CourseDiscount_CourseId] FOREIGN KEY([CourseDiscount_CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[CourseDiscounts] CHECK CONSTRAINT [FK_CourseDiscounts_Courses_CourseDiscount_CourseId]
GO
ALTER TABLE [dbo].[CourseDiscounts]  WITH CHECK ADD  CONSTRAINT [FK_CourseDiscounts_Discounts_CourseDiscount_DiscountId] FOREIGN KEY([CourseDiscount_DiscountId])
REFERENCES [dbo].[Discounts] ([Id])
GO
ALTER TABLE [dbo].[CourseDiscounts] CHECK CONSTRAINT [FK_CourseDiscounts_Discounts_CourseDiscount_DiscountId]
GO
ALTER TABLE [dbo].[ExerciseQuestions]  WITH CHECK ADD  CONSTRAINT [FK_ExerciseQuestions_TrainingParts_ExerciseQuestion_TrainingPartId] FOREIGN KEY([ExerciseQuestion_TrainingPartId])
REFERENCES [dbo].[TrainingParts] ([Id])
GO
ALTER TABLE [dbo].[ExerciseQuestions] CHECK CONSTRAINT [FK_ExerciseQuestions_TrainingParts_ExerciseQuestion_TrainingPartId]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Courses_Feedback_Courese_Id] FOREIGN KEY([Feedback_Courese_Id])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Courses_Feedback_Courese_Id]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Courses_Courses_Id] FOREIGN KEY([Courses_Id])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Courses_Courses_Id]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_Order_Id] FOREIGN KEY([Order_Id])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_Order_Id]
GO
ALTER TABLE [dbo].[OrderDiscounts]  WITH CHECK ADD  CONSTRAINT [FK_OrderDiscounts_Discounts_CourseDiscount_DiscountId] FOREIGN KEY([CourseDiscount_DiscountId])
REFERENCES [dbo].[Discounts] ([Id])
GO
ALTER TABLE [dbo].[OrderDiscounts] CHECK CONSTRAINT [FK_OrderDiscounts_Discounts_CourseDiscount_DiscountId]
GO
ALTER TABLE [dbo].[OrderDiscounts]  WITH CHECK ADD  CONSTRAINT [FK_OrderDiscounts_Orders_CourseDiscount_OrderId] FOREIGN KEY([CourseDiscount_OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderDiscounts] CHECK CONSTRAINT [FK_OrderDiscounts_Orders_CourseDiscount_OrderId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_Order_User] FOREIGN KEY([Order_User])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_Order_User]
GO
ALTER TABLE [dbo].[Replies]  WITH CHECK ADD  CONSTRAINT [FK_Replies_Comments_Reply_CommentId] FOREIGN KEY([Reply_CommentId])
REFERENCES [dbo].[Comments] ([Id])
GO
ALTER TABLE [dbo].[Replies] CHECK CONSTRAINT [FK_Replies_Comments_Reply_CommentId]
GO
ALTER TABLE [dbo].[RoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_RoleClaims_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleClaims] CHECK CONSTRAINT [FK_RoleClaims_Roles_RoleId]
GO
ALTER TABLE [dbo].[ShoppingCartItems]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingCartItems_Courses_Courese_Id] FOREIGN KEY([Courese_Id])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[ShoppingCartItems] CHECK CONSTRAINT [FK_ShoppingCartItems_Courses_Courese_Id]
GO
ALTER TABLE [dbo].[ShoppingCartItems]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingCartItems_ShoppingCarts_Shopping_Cart_Id] FOREIGN KEY([Shopping_Cart_Id])
REFERENCES [dbo].[ShoppingCarts] ([Id])
GO
ALTER TABLE [dbo].[ShoppingCartItems] CHECK CONSTRAINT [FK_ShoppingCartItems_ShoppingCarts_Shopping_Cart_Id]
GO
ALTER TABLE [dbo].[ShoppingCarts]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingCarts_Users_Shopping_Cart_User_Id] FOREIGN KEY([Shopping_Cart_User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ShoppingCarts] CHECK CONSTRAINT [FK_ShoppingCarts_Users_Shopping_Cart_User_Id]
GO
ALTER TABLE [dbo].[TrainerDetails]  WITH CHECK ADD  CONSTRAINT [FK_TrannerDetails_Courses_Courses_Id] FOREIGN KEY([Courses_Id])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[TrainerDetails] CHECK CONSTRAINT [FK_TrannerDetails_Courses_Courses_Id]
GO
ALTER TABLE [dbo].[TrainerDetails]  WITH CHECK ADD  CONSTRAINT [FK_TrannerDetails_Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[TrainerDetails] CHECK CONSTRAINT [FK_TrannerDetails_Users_User_Id]
GO
ALTER TABLE [dbo].[TrainingParts]  WITH CHECK ADD  CONSTRAINT [FK_TrainingParts_CourseEvents_Training_Part_Event_Id] FOREIGN KEY([Training_Part_Event_Id])
REFERENCES [dbo].[CourseEvents] ([Id])
GO
ALTER TABLE [dbo].[TrainingParts] CHECK CONSTRAINT [FK_TrainingParts_CourseEvents_Training_Part_Event_Id]
GO
ALTER TABLE [dbo].[TrainingParts]  WITH CHECK ADD  CONSTRAINT [FK_TrainingParts_Courses_Training_Part_Courese_Id] FOREIGN KEY([Training_Part_Courese_Id])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[TrainingParts] CHECK CONSTRAINT [FK_TrainingParts_Courses_Training_Part_Courese_Id]
GO
ALTER TABLE [dbo].[UserClaims]  WITH CHECK ADD  CONSTRAINT [FK_UserClaims_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserClaims] CHECK CONSTRAINT [FK_UserClaims_Users_UserId]
GO
ALTER TABLE [dbo].[UserLogins]  WITH CHECK ADD  CONSTRAINT [FK_UserLogins_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLogins] CHECK CONSTRAINT [FK_UserLogins_Users_UserId]
GO
ALTER TABLE [dbo].[UserNotes]  WITH CHECK ADD  CONSTRAINT [FK_UserNotes_Courses_CoursesId] FOREIGN KEY([CoursesId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[UserNotes] CHECK CONSTRAINT [FK_UserNotes_Courses_CoursesId]
GO
ALTER TABLE [dbo].[UserNotes]  WITH CHECK ADD  CONSTRAINT [FK_UserNotes_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserNotes] CHECK CONSTRAINT [FK_UserNotes_Users_UserId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
ALTER TABLE [dbo].[UserTokens]  WITH CHECK ADD  CONSTRAINT [FK_UserTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTokens] CHECK CONSTRAINT [FK_UserTokens_Users_UserId]
GO
ALTER TABLE [dbo].[UserTrainingProgresss]  WITH CHECK ADD  CONSTRAINT [FK_UserTrainingProgresss_TrainingParts_Training_Part_Id] FOREIGN KEY([Training_Part_Id])
REFERENCES [dbo].[TrainingParts] ([Id])
GO
ALTER TABLE [dbo].[UserTrainingProgresss] CHECK CONSTRAINT [FK_UserTrainingProgresss_TrainingParts_Training_Part_Id]
GO
ALTER TABLE [dbo].[UserTrainingProgresss]  WITH CHECK ADD  CONSTRAINT [FK_UserTrainingProgresss_Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserTrainingProgresss] CHECK CONSTRAINT [FK_UserTrainingProgresss_Users_User_Id]
GO
