.Order {
  max-width: 540px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Order h4 {
  color: #06bbcc;
  margin-bottom: 20px;
}

.Order .list-group {
  margin-bottom: 30px;
}

.Order form {
  margin-top: 30px;
}
